/* Text */
ul.process {
  list-style-type: square;
  font-family: 'Raleway', serif;
  font-size: 1.3vw;
  opacity: 0.8;
  margin-left: 25px;
  font-style: italic;
}

.typewrite, a.typewrite:hover, a.typewrite:active, a.typewrite.active {
  text-decoration: none;
  cursor: default;
  color: #292929;
}
h2 {
  font-size: 1.2vw;
  text-align: center;
  font-family: 'Raleway', serif;
  font-style: italic;
  font-weight: 300;
}
h3 {
 text-align: center;
 font-family: 'Bitter', sans-serif;
 font-size: 2.5vw;
 padding-top: 20px;
 margin-bottom: 0px;
 color: #292929;
}

h4 {
  font-family: 'Bitter', sans-serif;
  font-size: 1.8vw;
  padding-top: 20px;
  margin-bottom: 5px;
  color: #292929;
}

a:hover {
  text-decoration: none;
}

h6 {
  font-family: 'Raleway', serif;
  color: white;
}

#Homepage p {
  font-family: 'Raleway', serif;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 1.3vw;
}

#CookNook p {
  font-family: 'Raleway', serif;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.4vw;
  opacity: 0.8;
}

#COGS102C p {
  font-family: 'Raleway', serif;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.3vw;
  opacity: 0.8;
}

#AMC p {
  font-family: 'Raleway', serif;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.3vw;
  opacity: 0.8;
}

#About p {
  font-family: 'Raleway', serif;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.3vw;
  opacity: 0.8;
  text-align: left;
  font-weight: 400;
}

#Homepage h5 {
 font-family: 'Bitter', sans-serif;
 text-align: center;
 font-size: 80%;
 margin-top: -15px;
 color: #292929;
}

#CookNook h5 {
 font-family: 'Bitter', sans-serif;
 font-size: 1.4vw;
 color: #292929;
}

#COGS102C h5 {
 font-family: 'Bitter', sans-serif;
 font-size: 1.5vw;
 color: #292929;
}

#AMC h5 {
 font-family: 'Bitter', sans-serif;
 font-size: 1.5vw;
 color: #292929;
}

#About h5 {
 font-family: 'Bitter', sans-serif;
 font-size: 1.1vw;
 text-align: center;
 line-height: 1.4em;
 color: #292929;

}

#Homepage .title {
  font-family: 'Bitter', sans-serif;
  color: black;
}

#CookNook .title {
  font-family: 'Bitter', sans-serif;
  color: white;
  text-align: center;
}

#COGS102C .title {
  font-family: 'Bitter', sans-serif;
  color: white;
  text-align: center;
}

#AMC .title {
  font-family: 'Bitter', sans-serif;
  color: white;
  text-align: center;
}

#Homepage .lead {
  color: black;
}
#CookNook .lead {
  text-align: center;
}

#COGS102C .lead {
  text-align: center;
}
#AMC .lead {
  text-align: center;
}

#Homepage .headertext {
  font-family: 'Bitter', sans-serif;
  text-align: center;
  color: black;
  font-size: 1.35vw;
  letter-spacing: 2px;
  color: #ff9800;
}

#CookNook .headertext {
  font-family: 'Bitter', sans-serif;
  text-align: center;
  color: black;
  font-size: 1.3vw;
  letter-spacing: 2px;
  color: #ff9800;

}

#COGS102C .headertext {
  font-family: 'Bitter', sans-serif;
  text-align: center;
  color: black;
  font-size: 1.3vw;
  letter-spacing: 2px;
  color: #ff9800;

}

#AMC .headertext {
  font-family: 'Bitter', sans-serif;
  text-align: center;
  color: black;
  font-size: 1.3vw;
  letter-spacing: 2px;
  color: #ff9800;

}

#About .headertext {
  font-family: 'Bitter', sans-serif;
  text-align: center;
  color: black;
  font-size: 1.3vw;
  letter-spacing: 2px;
  color: #ff9800;

}

.contactheader {
  font-family: 'Bitter', sans-serif;
  text-align: center;
  color: black;
  font-size: 1.5vw;
  letter-spacing: 4px;
  color: #ff9800;
  margin-top: 3px;
}

.contactdetails {
  font-size: 110%;
  font-family: 'Raleway', serif;
  text-decoration-color: black;
}

/* Navbar */

#Homepage .navbar a {
  color: black;
  opacity: 0.7;
}

#CookNook .navbar a {
  color: black;
  opacity: 0.7;
}

#COGS102C .navbar a {
  color: black;
  opacity: 0.7;
}

#About .navbar a {
  color: black;
  opacity: 0.7;
}

.navbar #nav > .active > a {
    color: red;
}

#AMC .navbar a {
  color: black;
  opacity: 0.7;
}

#Homepage a.dropdown-item {
  color: black;
  opacity: 0.8;
}

.dropdown-item, .nav-link, .navbar {
  font-family: 'Bitter', sans-serif;
}

.nav-item {
 padding-right: 15px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu:active {
  color: #ff9800;
}

/* Jumbotron */
#Homepage .headerimg {
   /*background-image: url(https://i.redd.it/ophnww9cykbz.gif);
   background-image: url(https://pastelpad.com/wp-content/uploads/2017/08/road-resized.jpg);*/
   background-image: url(images/background1.jpg);
   background-size: cover;
   width: 100%;
   margin-bottom: 0;
   height: 500px;
 }

 #CookNook .headerimg {
  background-image: url(images/cooknook_header.jpg);
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
  height: 270px;
}

#COGS102C .headerimg {
  background-image: url(images/cogs102c_header.jpg);
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
  height: 270px;
}

#AMC .headerimg {
  background-image: url(https://static.pexels.com/photos/74228/night-theme-numbers-black-and-white-pen-74228.jpeg);
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
  height: 270px;
}

#About .headerimg {
  background-image: url(images/cogs102c_header.jpg);
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
  height: 450px;
}

.emphasis {
  font-weight: 600;
}

.subtitle {
  font-style: italic;
  font-size: 1.2vw
}

/* Case Studies background */
/*@import "compass/utilities/general/clearfix"
.casebg {
  @include clearfix;
  border-top: 10px solid rgba(255, 255, 255, .46);
  color: white;
  padding-bottom: 4em;
  overflow: hidden;
  position: relative;
}

.casebg::before {
  content: ' ';
  position: fixed; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(images/background.jpg) no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
  filter: blur(5px);
}
*/

.casebg {
  background: url(https://imgur.com/jtC1olM.png);
  background-position: fixed;
}

#projecttext {
  height:90%;
  background-color: white;
  background-repeat:no-repeat;
  background-position:center;
  margin-bottom: auto;
  margin-top: auto; 
}

.white {
  background-color: #FFF;
  background-size: cover;
  
}

.projectsection {
  background-color: #F7F7F7;
  background-size: cover;
  padding-top: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 -1px 5px rgba(0,0,0,0.24);
}

/* Case Studies images */
.cover {
 object-fit: cover;
 width:100%;
 height: 300px;
}

.cover:hover {
 -webkit-filter: grayscale(0%);
 filter: none; /* For IE8 and earlier */
}

.imgcontainer {
  height: 300px;
  display: block;
  position: relative;
  overflow: hidden;
}

.imgcontainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.profilepic {
  width: 350px;
  height: 300px;
  display: block;
  position: relative;
  overflow: hidden;
}

.profilepic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.gray {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.projectimages {
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}


.card-1 {
    background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.enlarge:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Contact forms */

.form-style-4{
  width: 350px;
  font-size: 16px;
  padding: 10px;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea
{
  font-family: 'Raleway', "Times New Roman", sans-serif;
  font-size: 16px;
  color: #000;
}

.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea
{
  background: transparent;
  border: none;
  border-bottom: 1px dashed #2196f3;
  width: 350px;
  outline: none;
  padding: 0;
  font-style: italic;
}
.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
  border-bottom: 1px dashed #ff9800;
}
::-webkit-input-placeholder { /* Chrome */
  color: #7A7A7A;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #7A7A7A;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #7A7A7A;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #7A7A7A;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}

/* Icons */
i {
 padding: 2px;
}

ul.contact {
  width:400px;
  margin-bottom:20px;
  overflow:hidden;
}
li.contact {
  line-height:1.7em;
  float:left;
  display:inline;
  width:50%;
}

/* Center 1 column */
.col-centered {
 float: none;
 margin: 0 auto;
}

.center {
  text-align: center;
}

.orange {
  color: #ff9800;
}

/* Buttons */

.btn {
  border: 0 none;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .8em;
  text-align: center;
}

.btn.outline {
  border: 1px solid;
  border-image: linear-gradient(to left, rgba(255, 255, 255, 1) 1%, rgba(255, 152, 0, 1)50%, rgba(255, 255, 255, 1) 100%) 
  100% 0 100% 0/1px 0 1px 10 stretch;
  color: #2196f3;
  background: none;
  padding: 12px 20px;
  border-radius:0;
  display:block; 
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  width: 218px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  cursor: pointer;

  /* BLUE: rgba(33, 150, 243, 1) */
}


.btn.outline:hover, .btn.outline:focus {
  color: #ff9800;
  border-image: linear-gradient(to left, rgba(255, 255, 255, 1) 1%,  rgba(33, 150, 243, 1), rgba(255, 255, 255, 1) 100%) 
  100% 0 100% 0/1px 0 1px 10px stretch;
  -webkit-transition : border 500ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
  transition : border 500ms ease-out;

}

.btn.outline:active, .btn.outline.active {
  border-image: linear-gradient(to left, rgba(255, 255, 255, 1) 1%, rgba(21, 101, 192, 1), rgba(255, 255, 255, 1) 100%) 
  100% 0 100% 0/1px 0 1px 10 stretch;
  color: #ef6c00;
  box-shadow: none;
  font-style: italic;
}

.projectbutton {
  margin:1em;
  border:none;
  padding:0.25em 3em 0.25em 1em;
  text-align:left;
  background:
  linear-gradient(-120deg, transparent 1em, #2196f3 1.05em , #2196f3 1.5em, transparent 1.45em, transparent 2em, #2196f3 2.05em) top no-repeat,
  linear-gradient(300deg, transparent 1em, #2196f3 1.05em , #2196f3 1.5em, transparent 1.45em, transparent 2em, #2196f3 2.05em) bottom no-repeat ;
  background-size: 100% 50%;
  color:white;
  font-family: 'Bitter', sans-serif;
}


#toTop {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 48px;
        -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
#toTop {
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    opacity: 0.5;
    display:none;
    cursor: pointer;
}
#toTop:hover {
    opacity: 1;
}


/* responsive queries */

@media (max-width: 768px) {
  .btn {
    font-size:2.5vw;
    text-align: center;
  }

  .title {
    font-size: 8.5vw;
  }
  .lead {
    font-size: 3.5vw;
  }

  #Homepage p {
    font-size: 2.8vw;
  }

  #CookNook p {
    font-size: 2.7vw;
  }

  #COGS102C p {
    font-size: 2.3vw;
  }

   #About p {
    font-size: 2.3vw;
  }

  h3 {
    font-size: 3.2vw;
  }
  h4 {
    font-size: 3.2vw;
  }
  h5 {
    font-size: 1.9vw;
  } 

  #CookNook h5 {
   font-size: 2.7vw;
 }

 #COGS102C h5 {
   font-size: 2.7vw;
 }

 #About h5 {
   font-size: 2.5vw;
 }

 #Homepage .headertext {
  font-size: 2.8vw;

}
#CookNook .headertext {
  font-size: 2.8vw;
}

#COGS102C .headertext {
  font-size: 2.8vw;
  margin: auto;
}

#About .headertext {
  font-size: 2.8vw;
  margin: auto;
}

#Homepage .contactheader {
  font-size: 2.5vw;

}
.contactdetails {
  font-size: 2.9vw;
  margin: auto;
}

.imgcontainer {
  height: 150px;
}

.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea
{
  background: transparent;
  border: none;
  border-bottom: 1px dashed #2196f3;
  width: 250px;
  outline: none;
  padding: 0;
  font-style: italic;
  font-size: 2.9vw;
}

ul.contact {
  width:350px;
  margin-left: auto;
}
.subtitle {
  font-size: 2.0vw; 
}

}


@media (min-width: 768px) {
  .btn {
    font-size:12px;
    padding:6px 12px;
  }

  #Homepage p {
    font-size: 1.7vw;
  }

  #CookNook p {
    font-size: 1.7vw;
  }

  #COGS102C p {
    font-size: 1.7vw;
  }

  .title {
    font-size: 6.5vw;
  }

  .lead {
    font-size: 2.2vw;
  }

  .contactdetails {
    font-size: 2.5vw;
  }
  .subtitle {
  font-size: 1.0vw; 
}

}

@media (min-width: 992px) {
  .btn {
    font-size:14px;
    padding:8px 12px;
  }
 #Homepage p {
    font-size: 1.3vw;
  }

  #CookNook p {
    font-size: 1.3vw;
  }

  #COGS102C p {
    font-size: 1.3vw;
  }
   #About p {
    font-size: 1.3vw;
  }
  .lead {
    font-size: 2.2vw;
  }

   .subtitle {
  font-size: 1.0vw; 
}

}

@media (min-width: 1200px) {

  .btn {
    padding:10px 16px;
    font-size:14px;
  }
   #Homepage p {
    font-size: 1.3vw;
  }

  #CookNook p {
    font-size: 1.3vw;
  }

  #COGS102C p {
    font-size: 1.3vw;
  }

  #About p {
    font-size: 1.3vw;
  }
  .lead {
    font-size: 1.7vw;
  }
  
  .contactdetails {
    font-size: 1.5vw;
  }

